

<div class="banner">
</div>
<div class="rounded-white-background">
  <h2 class="text-center mt-3"><%= @list.name %></h2>
  <div class="container text-center pt-4">
    <h2 class="text-center mb-4">Rename custom list</h2>
    <%= simple_form_for [@list], remote: true do  |f| %>
      <%= f.input :name, label: false %>
      <%= f.button :submit, :class => 'form-btn' %>
    <% end %>
  </div>
</div>
z