

<div class="banner">
</div>
<div class="rounded-white-background">


  
  <div class ='mt-4 mb-2 text-center'>
    <h2><%= @list.name.capitalize %></h2>
    <div class="title-border mx-auto my-2"></div>
  </div>


  <div class="container text-center pt-4">
    <h2 class="text-center mb-4">Rename custom list</h2>
    <%= simple_form_for [@list], remote: true do  |f| %>
      <%= f.input :name, label: false %>
      <%= f.button :submit, :class => 'form-btn' %>
    <% end %>
  </div>
</div>
z