<div class="d-flex justify-content-center">
  <div class="cards">
    <% beers.each do |beer| %>
      <%= link_to beer_path(beer.id), class: 'beer-card-lg-link' do  %>
        <%= render "shared/beer-cards/beer-card-lg", beer: beer %>
      <% end %>
    <% end %>
  </div>
</div>
