<div class="banner" style = "background-image: url(<%= image_path 'static-placeholder.jpg' rescue image_path 'beer-placeholder.jpg' %>);" >
</div>
<div class="rounded-white-background">
  <div class ='mt-4 mb-2 text-center'>
    <h2>About Hops</h2>
    <div class="title-border mx-auto my-2"></div>
  </div>

  <div class="container text-center pt-4">
    <div class="notes my-4">
      <h2>Idea not found</h2>
  </div>
</div>
