<div class="banner" style = "background-image: url(<%= image_path 'static-placeholder.jpg' rescue image_path 'beer-placeholder.jpg' %>);" >
</div>
<div class="rounded-white-background">
  <h2 class="text-center mt-3">About Hops</h2>
  <div class="container text-center pt-4">
    <div class="notes my-4">
      <h2>Work in progress</h2>
  </div>
</div>
