<div class="banner" style = "background-image: url(<%= image_path 'static-placeholder.jpg' rescue image_path 'beer-placeholder.jpg' %>);" >
  <div class=" main-title y-border w-bg">
    <h1>Contact</h1>
  </div>
</div>
<div class="rounded-white-background">
  <div class="container pt-5">
    <div class="notes my-4">
      <h2>Work in progress</h2>
  </div>
</div>
