<div class="banner" style = "background-image: url(<%= image_path 'static-placeholder.jpg' rescue image_path 'beer-placeholder.jpg' %>);" >
</div>
<div class="rounded-white-background">
  <h2 class="text-center mt-3">FAQ</h2>
  <div class="container text-center pt-4">
    <div class="notes my-4">
      <h3 class = 'my-5'>Our goals</h3>
      <h4 class = 'text-justify'>
        Everything started with a need to help people avoid bad beers.
        <br> With the growing number of available beers, we wanted to give beers lovers across the world a mean to keep track of their tastings
        <br>Beer lovers can sort beers by what they think a beer is worth, they can also mark them for later tasting.
        <br>Because beer is best enjoyed socially, custom list can also be created to keep track of what beer to bring at a party but that's just an example!
      </h4>
  </div>
</div>
