<div class="beer-card-sm">
  <div class="beer-name-color-alc-str">
    <div> <h4><%= beer.name %></h4> </div>
    <div class="text-right">
      <div><h5><%= beer.color.name %></h5></div>
      <% if beer.alcohol_strength %>
        <div class="ml-5px"><p><%= beer.alcohol_strength %>%</p></div>
      <% end %>
    </div>
  </div>
</div>