<div class="beer-card-md">
  <div class="beer-description-md">
    <div class="beer-name-brewery"></div>
    <div class="beer-color-alc-ibu"></div>
    <div class="beer-style-icons"></div>
  </div>
</div>