<div class="tag-sm">
  <div class="tag-icon-sm country">
    <i class="fas fa-globe-americas"></i>
  </div>
  <div class="tag-name-sm">
    <% if beer.brewery.country.name == 'United Kingdom' %>
      <p>UK</p>
    <% else %>
      <p> <%= beer.brewery.country.name %> </p>
    <% end %>
  </div>
</div>