<%= link_to brewery_path(@beer.brewery) do %>
  <div class="tag-md">
    <div class="tag-icon-md brewery">
      <i class="fas fa-home"></i>
    </div>
    <div class="tag-name-md">
      <p> <%= @beer.brewery.name %> </p>
    </div>
  </div>
<% end %>