<%= link_to edit_beer_path(@beer) do %>
  <div class="tag-md add-border">
    <div class="tag-icon-md add">
      <i class="fas fa-plus"></i>
    </div>
    <div class="add-text tag-name-md ">
      <p> Add </p>
    </div>
  </div>
<% end %>
