<div class="tag-sm ">
    <div class="tag-icon-sm <%= beer.color.name %>">
      <i class="fas fa-beer"></i>
    </div>
    <div class="tag-name-sm">
      <p> <%= beer.color.name %> </p>
    </div>
</div>