<div class="tag-sm">
  <div class="tag-icon-sm style">
    <%= image_tag('icons/style.svg', width: 6, height: 6) %>
  </div>
  <div class="tag-name-sm">
    <p> <%= beer.style.name %> </p>
  </div>
</div>