.beer-card-home {
  width: 310px;
  height: 310px;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25);

  background-image: asset-url('beer-placeholder.jpg');
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h5{
    font-size: 20px;
    color: #4e4b4d;
  }
}

 
.bch-name-tags {
  display: flex;
  flex-direction: column;
}

.bch-name {
  background-color: white;
  padding: 2px;
  display: flex;
  justify-content: center;
}

.bch-tags {
  background-color: rgba($color: #4e4b4d, $alpha: 1);
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 4px 4px rgba($color: #000000, $alpha: .25);
  ul {
    display: flex;
    margin: 0;
    padding: 2px;
    overflow-y: auto;
    li {
      margin-right: 1px;
    }
  }
}

.card-grid-home{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

@media(max-width: 1320px) {
  .card-grid-home{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
}

@media(max-width: 990px) {
  .card-grid-home{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

//768

@media(max-width: 660px) {
  .card-grid-home{
    display: inline-grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

