<div class="banner">
  <div class=" main-title y-border w-bg">
    <%= image_tag 'icons/hop.svg', id: 'logo' %>
    <h1>
      <span class="line">Scan...</span>
      <span class="line">your beer!</span>
    </h1>
  </div>
</div>

<div class="rounded-white-background d-flex  justify-content-center align-items-center">
<div class="barcode-container py-5">
  <div id='barcode-scanner'>
  </div>
</div>
</div>