<div class= 'banner'>
  <div class=" main-title y-border w-bg">
    <h1>Search Beers</h1>
  </div>
</div>
<div class="rounded-white-background">
  <div class="container pt-5 d-flex flex-column align-items-center" id= 'search-bar'>
    <div class="sb-placement">
      <%= render "shared/searchbar", search: searches_path %>
    </div>

    <div class="cards">
      <% @results.each do |result| %>
        <% search_res = result.searchable %>
        <% if search_res.class.name == "Beer" %>
          <%= link_to beer_path(search_res.id), class: 'beer-card-lg-link' do  %>
            <%= render "shared/beer-cards/beer-card-lg-variable", beer: search_res %>
          <% end %>
        <% end %>
      <% end %>
      <div id="search-adds" class="d-none">
        <%= render "shared/search_adds" %>
      </div>
    </div>
  </div>
</div>
<button id="myBtn" title="Go to top"></button>
