.banner{
  display: flex;
  background-image: asset-url('beer-placeholder.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100vw;
  position: relative;
  padding-bottom:40px;
  align-items: center;
  justify-content: center;
}

.banner-info{
  background-image: asset-url('beer-placeholder.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100vw;
  position: relative;
  padding-bottom:40px;
}

#action-white{
  position: absolute;
  top: 75%;
  left: 25%;
  z-index: 100;
}

#action-black{
  position: absolute;
  top: 75%;
  left: 25+50/3*1%;
  z-index: 100;
}

#action-wish{
  position: absolute;
  top: 75%;
  left: 25+50/3*2%;
  z-index: 100;
}

#action-add{
  position: absolute;
  top: 75%;
  left: 75%;
  z-index: 100;
}

h1 a{
  text-decoration: none!important;
  color: white;
}
