.card-grid{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 15px;
}

.list-card {
  // width: 40px;
  // height: 40px;
  padding: 5px 10px;
  background: #2E2C2D;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25);
  border-radius: 4px;
  img {
    margin-right: 10px;
  }
}

.tab-pane ul {
  margin: 0;
  padding: 0;
}

li.list-card-light {
  flex-grow: 1;
  max-width: 250px;
  // height: 40px;
  padding: 5px 10px;
  margin: 10px 10px;
  background: white;
  color: #2E2C2D;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25);
  border-radius: 4px;
  overflow: hidden;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background: $yellow;
}

@media(max-width: 1550px){
  .card-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 1200px){
  .card-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px){
  .card-grid{
    grid-template-columns: 1fr 1fr ;
  }
}
