.simple_form {
  font-size: 1em
}

.simple_form.new_content, .form-group, .edit_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#new_list {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}

.form-group label {
  width: 100%;
  margin: 0;
}

.review_comment, #content_list {
  flex-grow: 1;
}

.form-btn {
  border: 1px solid #dddddd;
  border-left: hidden;
  background-color: #ffffff;
  color: rgba(20,20,20, 0.5);
  border-radius: 0 4px 4px 0;
  margin-bottom: 16px;
  font-size: 1em;
  #review_submit{
    line-height: 1.5;
  }
}

.list-btn {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  color: rgba(20,20,20, 0.5);
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 1em;
  padding: 0;
  height: 28px;
  width: 28px;
}

.review-rate.fas.fa-beer.inactive {
  color: rgba(255,199,0,0.3);
  font-size: 2.5em;
}

.review-rate.fas.fa-beer {
  color: rgba(255,199,0,1);
  font-size: 2.5em;
}

.form-control {
  font-size: 1em;
  border-radius: 4px 0 0 4px;
}

.select2-container {
    // width: 100% !important;
    width: 200px!important;
}

.add-edit-container {
  max-width: 500px;
  width: 50%;
  min-width: 300px;
  input, select, textarea, label, img {
    border-radius: 16px;
  }
}

.btn-add-edit-save {
  color: white;
  background-color: #53A653;
  font-weight: bold;
  border-radius: 19px;
}

.form-group-invalid {
  display: flex;
  flex-direction: column;
}

.upload-photo {
  border: 1px solid #ced4da;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  background: white;
  border-radius: 2px;
}

#photo-preview {
  width: 300px;
}

@media(max-width: 768px){
  .add-edit-container{
    width: 80%;
  }
  #photo-preview {
    width: 250px;
  }
}

.user_password {
  display: flex;
  flex-direction: column;
  align-items: start;
  small {
    margin-left: 13px;
  }
}

.devise-links {
  a {
    color: #53A653;
  }
}


.add-edit-container input, .add-edit-container select, .add-edit-container textarea, .add-edit-container label, .add-edit-container img {
  box-shadow: none;
}
