
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
  font-family: 'Arvo', serif;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #2e2c2d;
  margin: 0;
  padding: 0;
}

.notes h2, .info h2, .statistics h2 {
  margin-bottom: 10px;
}


h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #2e2c2d;
  margin: 0;
  padding: 0;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #2e2c2d;
  margin: 0;
  padding: 0;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #7d787a;
  margin: 0;
  padding: 0;
}
h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #b9b6b8;
  margin: 0;
  padding: 0;
}

p, body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #2e2c2d;
  p {
    margin: 0;
    padding: 0;
  }
}

.legend-text {
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  font-weight: normal;
  color: #2e2c2d;
}

.title-border {
  width: 100px;
  border-bottom: 4px #2e2c2d solid;
  margin: 2 auto;
}
