.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
  // position: absolute;
  // top: 0;
  // z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  // flex-grow: 0;
}

.navbar {
  justify-content: space-between;
  background-color: rgba($color: white, $alpha: 0);;
  margin: 0;
  padding: 10px;
  ul {
    padding: 0;
    margin: 0;
  }
}

.navbar-left, .navbar-right {
  display: flex;
}

.navbar-left {
  li {
    margin-right: 10px;
  }
}

.navbar-right {
  li {
    margin-left: 10px;
  }
}