.rounded-white-background{
  background-color: white;
  border-radius: 50px 50px 0px 0px;
  width: 100vw;
  min-height: 60vh;
  position: absolute;
  top: 40vh;
  z-index:1;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1);
}
