.tag-sm {
  background-color: white;
  border: 1px solid #dddddd;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 1px 1px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  // max-height: 26px;
  overflow: hidden;
  p {
    font-size: 12px;
    font-weight: bold;
  }
}

.tag-icon-sm {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 3px;

}

.tag-name-sm {
  color: #2E2C2D;
  margin: 2px 0 0 0 ;
  padding: 0;
  line-height: 12px;
  width: max-content;
}
