.tag-md {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px 15px;
  border-radius: 4px;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  max-height: 79px;
  max-width: 200px;
  p {
    font-size: 16px;
    font-weight: bold;
  }
  overflow: auto;

}

.tag-icon-md {
  min-width: 27px;
  min-height: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 3px;

}

.tag-name-md {
  color: #2E2C2D;
  margin: 14px 0 0 0 ;
  max-width: 200px;
  padding: 0;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
}

.style {
  background-color: #b1c22640;
}

.alc-str {
  background-color: #db383840;
  color: #db3838;
}

.country {
  background-color: #33beb840;
  color: #33beb8;
}

.ibu {
  background-color: #3cc22640;
}

.brewery {
  background-color: #f6622040;
  color: #f66220;
}

.city {
  background-color: #40a4d840;
  color: #40a4d8;
}

.White {
  background-color: #f8e3b740;
  color: #f8e3b7;

}

.Blond {
  background-color: #e79e4e40;
  color: #e79e4e;

}

.Ruby {
  background-color: #aa3a3a40;
  color: #aa3a3a;

}

.Amber {
  background-color: #a0534440;
  color: #a05344;

}

.Black {
  background-color: #3f262e40;
  color: #3f262e;
}

.add {
  background-color: #2E2C2D20;
  color: white;
}

.add-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.add-text p {
  color: #2E2C2D40;
}
