.main-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px 5px;

  &.y-border{
    border: 0.25rem solid #FFC700 ;
  }
  &.w-bg{
    background-color:rgba($color:white, $alpha: 0.2) ;

  }

}