// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import 'select2/dist/css/select2';
$hamburger-padding-x: 0;
$hamburger-padding-y: 6px;
$hamburger-layer-color: #4e4b4d;
@import 'hamburgers';

// Your CSS partials
@import "components/index";
@import "pages/index";

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

html{
  scroll-behavior: smooth;
}
